@page "/Test/ColouredBorder"

<PageTitle>ColouredBorder Test</PageTitle>

<h1>ColouredBorder test</h1>
<br />

<MudText Class="mt-2" Typo="Typo.body2" Color="Color.Default">Small habits, big impact!</MudText>
<!-- Flexible spacer -->
<div class="flex-grow-1"></div>
<div class="foot pb-10">
    <MudButton Class="rounded-pill mb-3 rainbow-animated" ButtonType="ButtonType.Button" Color="Color.Primary" Variant="Variant.Filled" FullWidth Size="Size.Large">Let’s get started!</MudButton>
</div>

